:root {
  --p1: #495e57;
  --p2: #F4CE14;
  --s1: #EE9972;
  --s2: #FBDABB;
  --h1: #EDEFEE;
  --h2: #333333;
}

.App {
  width: 100%;
  height: auto;
}

.section {

}

.home {
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.hero {
  padding: 5% 10%;
  background-color: var(--p1);
  min-width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  align-items: center;
}

.hero-text {
  height: 80%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.hero-image {
  height: 600px;
  width: auto;
  border-radius: 16px;
}

.hero-button {
  width: 200px;
  height: 50px;
  border-radius: 16px;
  background-color: var(--p2);
  font-weight: bold;
  color: var(--p1);
}

.buttonh1 {
  width: 200px;
  height: 50px;
  border-radius: 16px;
  background-color: var(--p2);
  font-weight: bold;
  color: var(--p1);
}

.specials {
  padding: 5% 10%;
}




.form-booking {
  display: flex;
}

.date {
  color: black;
}

.email-span {
  display: block;
  overflow: hidden;
}

.testimonial-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Markazi Text', serif;
}

.title-display {
  color: var(--p2);
  font-weight: 500;
  font-size: 64pt;
  padding-bottom: 0;
  line-height: 1;
  font-family: 'Markazi Text', serif;
}

.title-sub {
  color: var(--h1);
  font-size: 56pt;
  line-height: 1;
}

.title-regular {
  font-size: 40pt;
}

.text {
  color: var(--h1);
  font-family: 'Karla', sans-serif;
}

.text-lead {
  font-weight: 500;
  font-size: 18pt;
}

.text-section-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20pt;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: 'Karla', sans-serif;
}

.text-specials {
  font-size: 16pt;
  font-weight: 800;
}

.text-card-title {
  font-size: 18pt;
  font-weight: bold;
}

.text-paragraph {
  font-weight: 500;
  font-size: 16pt;
  line-height: 1.5;
}

.text-highlight {
  font-size: 16pt;
  font-weight: bold;
  color:#F4CE14;
}

.specials-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--h2)
}

.specials-bottom{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-specials {
  background-color: #EDEFEE;
  border-radius: 16px;
  height: 600px;
}

.card-specials-container {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  max-width: 300px;
}

.card-specials-image {
  width: 300px;
  height: 200px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.card-specials-content {
  height: 400px;
  width: 600px;
  padding: 0px 20px;
  display: grid;
  grid-template-rows: 30% 40% 30%;
  row-gap: 10px;
}

.vStack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-specials-text {
  align-self: self-start;
}

.card-specials-icon {
  height: 25px;
  width: 25px;
  justify-self: flex-start;
}

.testimonials {
  padding: 5% 10%;
}

.card-testimonials {
  background-color: var(--h1);
  width: 100%;
  min-height: 100px;
  padding: 20px 20px;
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 10px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 16px;
}

.image-testimonials {
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
}

.text-testimonials {
  overflow: scroll;
}

.stars {
  display: flex;
}

.star-rating {
  height: 20px;
  width: 20px;
}

.booking {
  padding: 50px 0px;
  background-color:#495e57;
}

.form-booking-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-booking {
  display: grid;
  grid-template-rows: repeat(4, 25%);
}

.title-booking {
  color: var(--p2);
  text-align: left;
}

.inputs-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputs-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.inputs-bottom {

}

.booking-slot {
  padding: 20px;
  margin: 0px 5px;
  background-color: var(--h1);
  border-radius: 16px;
  width: 10vw;
  list-style: none;
  transition: all 0.5s;
}

.booking-slot:hover {
  padding: 20px;
  background-color: var(--p2);
  list-style: none;
  scale: 1.1;
  font-weight: bold;
  color: var(--h1);
}

.booking-slot:focus {
  
}

.selected {
  background-color: var(--s2);
  color: var(--h2);
}

.label-booking {
  color: white;
}

.label-booking:focus {
  color:#F4CE14;
}

input[type="email"] {
  width: 400px;
  padding: 10px;
  border-radius: 16px;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
  border-radius: 16px;
}

.datepicker {
  padding: 10px;
  border-radius: 16px;
  width: 400px;
  min-width: 400px;
}

input[type="email"]:focus {
  border: 1px solid #F4CE14;
}

input[type="text"]:focus {
  border: 1px solid #F4CE14;
}

select{
  width: 200px;
  padding: 10px;
  margin: 1px;
  border-radius: 16px;
}

select:focus{
  border: 1px solid #F4CE14;
}

.field-booking {
  border-radius: 20px;
}

.hstack-booking {
  padding-top: 25px 0px 25px 0px;
  margin: 0;
  min-width: 80vw;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.email-error {
  color:#F4CE14;
  display: relative;
}

.vstack-booking{
  align-items: flex-start;
}

.break-booking {
  color: pink;
}

.button {
  border-radius: 16%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.button-dark {
  background-color: #495e57;
  color: #F4CE14;
}

.button-light {
  color: #495e57;
  background-color: #F4CE14;
}

.confirmation-booking h3 {
  color: white;
  font-size: 1.5rem;
}

.confirmation-booking p {
    color: white;
}

.bookings-list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.confirmed-booking {
  text-align: center;
}