:root {
  --bg: #495e57;
  --bg2: #EDEFEE;
  --main: #F4CE14;

}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  padding: 0;
}

.home {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
}

.specials {
  min-width: 100vw;
}

.testimonials {
  min-width: 100vw;
}

.booking {
  min-width: 100vw;
  background-color:#495e57;
}

.booking-slot {
  padding: 20px;
  background-color: var(--bg2);
  border-radius: 16px;
  width: 10vw;
  list-style: none;
}

.container-booking-slots {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.form-booking {
  display: flex;
}

.date {
  color: black;
}

.email-span {
  display: block;
  overflow: hidden;
}

.testimonial-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Markazi Text', serif;
}

.title-display {
  color: #F4CE14;
  font-weight: 500;
  font-size: 64pt;
  padding-bottom: 0;
  line-height: 1;
}

.title-sub {
  font-size: 56pt;
  line-height: 1;
}

.title-regular {
  font-size: 40pt;
}

.text {
  font-family: 'Karla', sans-serif;
}

.text-lead {
  font-weight: 500;
  font-size: 18pt;
}

.text-section-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20pt;
  padding-top: 25px;
  padding-bottom: 25px;
}

.text-specials {
  font-size: 16pt;
  font-weight: 800;
}

.text-card-title {
  font-size: 18pt;
  font-weight: bold;
}

.text-paragraph {
  font-weight: 500;
  font-size: 16pt;
  line-height: 1.5;
}

.text-highlight {
  font-size: 16pt;
  color:#F4CE14;
}

.card-specials {
  background-color: #EDEFEE;
  border-radius: 16;
  margin: 0;
  padding: 0;
}

.image-specials {
  max-width: 100%;
}

.card-testimonials {
  background-color: #EDEFEE;
  min-height: 30vh;
  padding-top: 0;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: scroll;
  max-width: 30vw;
}

.image-testimonials {
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
}

.text-testimonials {
  overflow: scroll;
}

.hero {
  background-color: #495e57;
  min-width: 100vw;
}

.container-booking {
  
}

.star-rating {
  height: 20px;
  width: 20px;
}

.label-booking {
  color: white;
}

.label-booking:focus {
  color:#F4CE14;
}

input[type="email"] {
  width: 400px;
  padding: 10px;
  border-radius: 16px;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
  border-radius: 16px;
}

input[type="text"] .datepicker {
  width: 200px;
  padding: 10px;
  border-radius: 16px;
  width: 400px;
}

input[type="email"]:focus {
  border: 1px solid #F4CE14;
}

input[type="text"]:focus {
  border: 1px solid #F4CE14;
}

.datepicker {
  
}

select{
  width: 200px;
  padding: 10px;
  margin: 1px;
  border-radius: 16px;
}

select:focus{
  border: 1px solid #F4CE14;
}

.field-booking {
  border-radius: 20px;
}

.hstack-booking {
  padding-top: 25px 0px 25px 0px;
  margin: 0;
  min-width: 80vw;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.email-error {
  color:#F4CE14;
  display: relative;
}

.vstack-booking{
  align-items: flex-start;
}

.break-booking {
  color: pink;
}

.button {
  border-radius: 16%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.button-dark {
  background-color: #495e57;
  color: #F4CE14;
}

.button-light {
  color: #495e57;
  background-color: #F4CE14;
}

.confirmation-booking h3 {
  color: white;
  font-size: 1.5rem;
}

.confirmation-booking p {
    color: white;
}