:root {
  --p1: #495e57;
  --p2: #F4CE14;
  --s1: #EE9972;
  --s2: #FBDABB;
  --h1: #EDEFEE;
  --h2: #333333;
  --h3: #97AFA7;
  height: 100dvh;
  
}

#root {
  background-image: url("assets/lemon-background4.png");
  background-size: auto;
}

body {
  height: 100dvh;
  background: #fff;
}

.top-nav {
  min-height: 5dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.top-nav-top {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-around;
}

section {
  background: #fff;
  min-height: 80dvh;
  overflow: scroll;
  margin: auto;
  max-width: 100%;
}

.bottom-nav {
  background: #fff;
  min-height: 10dvh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}

.nav-logo {
  height: 50px;
  width: auto;
  transition: all 0.5s;
}

.nav-logo:hover {
  scale: 1.1;
}

.nav-list-header {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-weight: bold;
  color: var(--p1)
}

.nav-cart-quantity {
  position: relative;
  display: flex;
  justify-content: center;
  left: -1.5rem;
  background-color: var(--p2);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 16px;
  color: var(--h2);
  font-weight: bold;
  transition: opacity 1s;
}

.nav-list-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  font-weight: bold;
  color: var(--p1)
}

.nav-list-footer-socials {
  display: flex;
  justify-content: space-between;
}

.nav-list-footer-social {
  height: 15px;
  width: 15px;
  transition: all 0.5s;
}

.nav-list-footer-social:hover {
  scale: 1.5;
}

.nav-title-footer {
  font-size: larger;
  color: var(--p2)
}

.nav li {
  transition: scale 0.5s;
}

.nav li:hover {
  scale: 1.1;
}

.home {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  background: var(--p1);
}

.hero {
  padding: 5% 10%;
  background-color: var(--p1);
  min-width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  align-items: center;
  background-image: url("assets/RestaurantLowC.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-text {
  height: 80%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.hero-about-text {
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  border-radius: 16px 0px 0px 16px ;
  background: var(--h2);
}

.article-about {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.about-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.hero-image {
  height: 600px;
  width: auto;
  border-radius: 16px;
}

.hero-button {
  width: 200px;
  height: 50px;
  border-radius: 16px;
  background-color: var(--p2);
  font-weight: bold;
  color: var(--p1);
}

.buttonh1 {
  width: 200px;
  height: 50px;
  border-radius: 16px;
  background-color: var(--p2);
  font-weight: bold;
  color: var(--p1);
  transition: all 0.5s;
}

.buttonh1:hover {
  scale: 1.1;
}

.specials {
  padding: 5% 10%;
}

.date {
  color: black;
}

.email-span {
  display: block;
  overflow: hidden;
}

.testimonial-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Markazi Text', serif;
}

.title-display {
  color: var(--p2);
  font-weight: 500;
  font-size: clamp(32pt, 48pt, 64pt);
  padding-bottom: 0;
  line-height: 1;
  font-family: 'Markazi Text', serif;
}

.title-sub {
  color: var(--h1);
  font-size: clamp(28pt, 42pt, 56pt);
  line-height: 1;
}

.title-regular {
  font-size: clamp(20pt, 30pt, 40pt);
}

.text {
  color: var(--h1);
  font-family: 'Karla', sans-serif;
}

.text-lead {
  font-weight: 500;
  font-size: clamp(0pt, 13pt, 18pt);
}

.text-section-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: clamp(10pt, 15pt, 20pt);
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: 'Karla', sans-serif;
}

.text-specials {
  font-size: clamp(8pt, 12pt, 16pt);
  font-weight: 800;
}

.text-card-title {
  font-size: clamp(9pt, 13pt, 18pt);
  font-weight: bold;
}

.text-paragraph {
  font-weight: 500;
  font-size: clamp(8pt, 12pt, 16pt);
  line-height: 1.5;
}

.text-highlight {
  font-size: 16pt;
  font-weight: bold;
  color:#F4CE14;
}

.specials-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--h2)
}

.specials-bottom{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-specials {
  background-color: #EDEFEE;
  border-radius: 16px;
  height: 600px;
}

.card-specials-container {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  max-width: 300px;
}

.card-specials-image {
  width: 300px;
  height: 200px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.card-specials-content {
  height: 400px;
  width: 600px;
  padding: 0px 20px;
  display: grid;
  grid-template-rows: 30% 40% 30%;
  row-gap: 10px;
}

.hStack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-specials-text {
  align-self: self-start;
}

.card-specials-delivery {
  font-weight: bold;
  transition: all 0.5s;
}

.card-specials-delivery:hover {
  scale: 1.1;
  color: var(--p2)
}

.card-specials-icon {
  height: 25px;
  width: 25px;
  transition: all 0.5s;
}

.card-specials-icon:hover {
  scale: 1.1;
  color: var(--p2)
}

.testimonials {
  padding: 5% 10%;
  background-color: #495e57;
}

.testimonial-title {
  color: var(--p2)
}

.card-testimonials {
  background-color: var(--h1);
  width: 100%;
  min-height: 100px;
  padding: 20px 20px;
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 10px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 16px;
}

.image-testimonials {
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
}

.text-testimonials {
  overflow: scroll;
}

.stars {
  display: flex;
}

.star-rating {
  height: 20px;
  width: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 5% 10%;
  background-color: var(--h3)
}

.hero-about {
  max-width: 75%;
  max-height: 75%;
  margin: 0 auto;
  display: inline-grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  align-items: center;
  background-image: url("assets/Mario and Adrian A.jpg");
  border-radius: 15px;
  background-size: cover;
}

.menu {
  padding: 5% 10%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--s2);
}

.menu-sheet {
  width: 80%;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 16px;
  padding: 2rem;
  row-gap: 2rem;
}

.menu-section {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 1rem;
}

.menu-title {
  font-family: 'Markazi Text', serif;
  font-size: clamp(12pt, 18pt, 24pt);
  padding: 0;
  color: var(--p1);
  letter-spacing: 0.20rem;
}

.menu-title::before {
  content: '🍋';
  font-size: larger;
}

.menu-section-item {
  color: var(--p1);
  width: 100%;
  display: grid;
  grid-template-columns: 10% 65% 10% 15%;
}

.menu-section-item::before {
  content: " "
}

.veggie-vegan::before {
  content: "🟢🟡";
  font-size: larger;
}

.veggie::before {
  content: "🟡";
  font-size: larger;
}

.vegan::before {
  content: "🟢";
  font-size: larger;
}



.menu-section-item-name {
  color: var(--p1);
}

.menu-section-item-price:before {
  content: '$';
}

.menu-basket-button {
  height: 20px;
  width: 20px;
}

.order {
  padding: 5% 10%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--h3);
  gap: 2rem;
}

.order-items {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--h1);
  border-radius: 16px;
  padding: 2rem;;
}

.order-item {
  display: grid;
  list-style-type: none;
  grid-template-rows: 1fr;
  grid-template-columns: 5% 1fr 10% 10%;
}

.order-item::before {
  content: '🍋'
}

.order-item-name {

}

.order-item-amount::before {
  content: "x "
}

.order-item-price {

}

.order-item-price::before {
  content: '$';
}

.order-summary {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  background-color: var(--h1);
  border-radius: 16px;
  padding: 2rem;

}

.total {

}

.total::before {
  content: '$ '
}

.order-options {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--h1);
  border-radius: 16px;
  padding: 2rem;
}

.booking {
  padding: 5% 10%;
  background-color:#495e57;
}

.form-booking-page {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-booking {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  row-gap: 10px;
}

.container-booking {
  display: grid;
  grid-template-rows: repeat(4, 25%);
}

.title-booking {
  color: var(--p2);
  text-align: left;
  padding: 0;
}

.inputs-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.inputs-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition: all 0.5s;
}

.inputs-middle-hidden {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transform: translate(0px, -70px);
}

.inputs-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.drop-enter {
  opacity: 0;
  transform: translate(0px, -70px);
}

.drop-enter-active {
  opacity: 1;
  transform: translate(0px,0px);
  transition: all 0.5s;
}

.drop-exit {
  opacity: 1;
  transform: translate(0px,0px);
}

.drop-exit-active {
  opacity: 0;
  transform: translate(0px,70px);
  transition: all 0.5s;
}



.booking-slot {
  padding: 10px 0px;
  margin: 10px 0px;
  background-color: var(--h1);
  border-radius: 16px;
  flex-grow: 1;
  list-style: none;
  opacity: 0.5;
  transition: all 0.5s;
}

.booking-slot:hover {
  opacity: 1;
  background-color: var(--h1);
  list-style: none;
}

.selected {
  background-color: var(--h3);
  color: white;
  font-weight: bold;
}

.selected:hover {
  color: var(--h2);
}

input[type="email"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 16px;
}

input[type="text"] {
  flex-grow: 0;
  padding: 10px;
  border-radius: 16px;
}

input:focus {
  opacity: 1;
  border: none;
  outline: none;
}

.react-datepicker-wrapper {
  flex-grow: 2;
  height: 50px;
  margin-top: 2px;
}

.datepicker {
  border-radius: 16px;
  height: 50px;
  background-color: var(--h1);
}

.react-datepicker__input-container{
  flex-grow: 1;
  height: 50px;
}

.react-datepicker-ignore-onclickoutside {
  width: 100%;
  height: 50px;
}

#date {
  width: 100%;
  height: 50px;
  flex-grow: 2;
}

select{
  flex-grow: 1;
  padding: 10px;
  margin: 1px;
  border-radius: 16px;
}

select:focus{
  border: 1px solid #F4CE14;
}

.field-booking {
  border-radius: 20px;
  background-color: var(--h1);
  opacity: 0.75;
  height: 50px;
  transition: all 0.5s;
}

.field-booking-confirmed {
  background-color: var(--h1);
  color: var(--p1);
  font-weight: bold;
  opacity: 1;
  height: 50px;
}

.hstack-booking {
  padding-top: 25px 0px 25px 0px;
  margin: 0;
  min-width: 80vw;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.vstack-booking{
  align-items: flex-start;
}


.button {
  border-radius: 16%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.button-dark {
  background-color: #495e57;
  color: #F4CE14;
}

.button-light {
  color: #495e57;
  background-color: #F4CE14;
}

.confirmation-booking {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.confirmation-booking h1 {
  padding: 0;
  color: var(--p2);
  font-size: 1.5rem;
}

.confirmation-booking h3 {
  padding: 0;
  color: white;
  font-size: 1.5rem;
}

.confirmation-booking p {
    color: white;
}

.bookings-list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.confirmed-booking {
  text-align: center;
}

.login {
  display: grid;
  grid-template-columns: 30% 30% 20% 20%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow: visible;
}

.input-login {
  width: 300px;
  background-color: var(--h3);
  color: var(--h1);
  border-radius: 16px;
  padding: 10px;
  margin: 10px;
  transition: all 0.5s;
}

.input-login:focus {
  scale: 1.1;
}

.input-login-stack {
  display: flex;
  flex-direction: column;
}

.create {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
}

.create-login {
  width: 80%;
  background-color: var(--h3);
  color: var(--h1);
  border-radius: 16px;
  padding: 10px;
  transition: all 0.5s;
}

.error {
  position: relative;
  display: inline;
  bottom: -40px;
  left: -300px;
}

::placeholder {
  opacity: 1;
}

.shopping-cart {
  padding: 5% 10%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--s1);
  gap: 1rem;
}

.cart-items {
  display: flex;
  flex-grow: 2;
  flex-shrink: 0;
  flex-direction: column;
  background: white;
  border-radius: 16px;
  padding: 2rem;
  row-gap: 2rem;
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-item {
  color: var(--p1);
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 20% 20%;
}

.item-text {
  display: flex;
  flex-direction: column;
}

.item-quantity {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.item-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.cart-total-items {
  font-size: xx-large;
}

.cart-total-total {
  font-size: xx-large;
}

.cart-total-total::before {
  content: '$ '
}

.cart-options {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.cart-options-buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.cart-options-button {
  padding: 1rem;
  border-radius: 16px;
  background-color: var(--p1);
  color: var(--p2);
  transition: all 0.5s;
}

.cart-options-button:hover {
  padding: 1rem;
  border-radius: 16px;
  background-color: var(--h3);
  color: var(--h1)
}

.cart-options-button-selected {
  scale: 1.2;
  padding: 1rem;
  border-radius: 16px;
  background-color: var(--h3);
  color: var(--h1);
  transition: all 0,5s;
}

.item-total::before {
  content: "$"
}

@media screen and (min-width: 700px) {
  section {
    max-width: 80%;
  }
}
@media screen and (min-width: 1100px) {
  section {
    max-width: 70%;
  }
}
@media screen and (min-width: 1500px) {
  section {
    max-width: 60%;
  }
}